<h2>
  {{@heading}}
</h2>
<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th scope="col">
          Order Id
        </th>
        <th scope="col">
          Product
        </th>
        <th scope="col">
          Quantity
        </th>
        <th scope="col">
          Free order?
        </th>
        <th scope="col">
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each @orders as |order|}}
        <tr>
          <td>
            {{order.id}}
            {{#if order.isCreatedOffline}}
              <div class="color-info-500 font-weight-bold text-align-center">
                [Via Offline]
              </div>
            {{/if}}
          </td>
          <td>
            <div
              class="color color-white border-radius text-align-center"
              style={{
                html-safe (concat "background-color:" order.product.name)
              }}
            >
              {{order.product.name}}
            </div>
          </td>
          <td>
            {{order.quantity}} Nos / $ {{or order.cost "N/A"}}
          </td>
          <td>
            {{order.isBumper}}
          </td>
          <td>
            {{order.status}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>